html, body {
	font-family: "ratio","freight-sans-pro",'Helvetica', 'Arial', sans-serif;
	font-weight:400;
	min-height: 100%;
	min-width:100%;
	text-shadow:0 1px 1px rgba(0,0,0,0.2);

	background-image: linear-gradient(-180deg,#0f87a5 0,#119dc0 100%); /* Old browsers */
	/*background: -moz-linear-gradient(45deg,  #323251 0%, #1d1d1f 100%); /* FF3.6+ */*/
	/*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#323251), color-stop(100%,#1d1d1f)); /* Chrome,Safari4+ */*/
	/*background: -webkit-linear-gradient(45deg,  #323251 0%,#1d1d1f 100%); /* Chrome10+,Safari5.1+ */*/
	/*background: -o-linear-gradient(45deg,  #323251 0%,#1d1d1f 100%); /* Opera 11.10+ */*/
	/*background: -ms-linear-gradient(45deg,  #323251 0%,#1d1d1f 100%); /* IE10+ */*/
	/*background: linear-gradient(45deg,  #323251 0%,#1d1d1f 100%); /* W3C */*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323251', endColorstr='#1d1d1f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */*/

	/*animation-name: bgPulse;*/
	animation-duration: 70s;
	animation-timing-function: ease-in-out;
	animation-delay: 20s;
	animation-iteration-count: infinite;
	-webkit-animation-name: bgPulse;
	-webkit-animation-duration: 70s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 20s;
	-webkit-animation-iteration-count: infinite;

	color: #fff;
}

section#viewer {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	/*min-height: 530px;*/
}

#logo {
	/*position: absolute;*/
	/*left: 10%;
	top: 12%;*/
display:inline-block;
width:40%;
position: relative;
height:100%;

	border-radius: 100%;
	border: 0px solid #fff;
	float:left;

}

@keyframes bgPulse
  {
  0% {
    background-color: #1d1d1f;
  }
  20% {
  	background-color: #1d1d1f;
  }
  25% {
    background-color: #096ac5;
  }
  45% {
    background-color: #096ac5;
  }
  50% {
    background-color: #79b019;
  }
  70% {
    background-color: #79b019;
  }
  75% {
    background-color: #9914ac;
  }
  95% {
    background-color: #9914ac;
  }
  100% {
    background-color: #1d1d1f;
  }
}

@-webkit-keyframes bgPulse
  {
  0% {
    background-color: #1d1d1f;
  }
  20% {
  	background-color: #1d1d1f;
  }
  25% {
    background-color: #096ac5;
  }
  45% {
    background-color: #096ac5;
  }
  50% {
    background-color: #79b019;
  }
  70% {
    background-color: #79b019;
  }
  75% {
    background-color: #9914ac;
  }
  95% {
    background-color: #9914ac;
  }
  100% {
    background-color: #1d1d1f;
  }
}


#details{

}

#logo{
	text-align:center;
}

#logo a {
	display: block;
	text-indent: -9999px;
	width: 256px;
	height: 256px;
	position: relative;
	margin-top: 0px;
	opacity: 0.8;
	background-size: 100%;
	margin:0 auto;
}

#details{
	position:relative;
	display:inline-block;
	width:60%;
	float:left;
	padding-top:5%;
}

#info{
	position:relative;
	display:inline-block;
	width:40%;
	float:right;
	padding-top:5%;
}

.label{
	margin: 0.67em 0;
	padding:3px;
	padding-left:6px;
	padding-right:6px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 4px;
	text-shadow:0 1px 1px rgba(255,255,255,0.1);
	color: #119dc0;
	font-size:14px;

}

#about {
	position: absolute;
	top: 20%;
	left: 5%;
	right:5%;
	font-size: 26px;
	font-weight: 300;
}

#details h1{
	font-size: 26px;
	font-weight: 300;
	text-shadow:0 1px 2px rgba(0,0,0,0.1);
}

#details h1 span {
	font-weight: 700;
}

#details h1 a {
	color: #fff;
	text-decoration: none;
	border-bottom: 3px solid #fff;
}

#details h1 a:hover {
	color: #fff;
	text-decoration: none;
	border-bottom: 3px solid #096ac5;
}

#details h1.notify {
	max-width: 350px;
	bottom: 35%;
}

#details p{
	line-height:1.56em;
	font-size:18px;
}

ul#timeline {
	position: absolute;
	bottom: 0;
	height:44px;
	width: 95%;
	left: 0%;
	padding: 0px;
	margin: 0px;
	line-height: 44px;
	padding-left: 5%;
	border-top:1px solid rgba(255,255,255,0.3);
	background-color:rgba(0,0,0,0.05);
	overflow:hidden;
}

ul#linkouts {
	position: absolute;
	top: 0px;
	width: 95%;
	padding: 0px;
	margin: 0px;
	height:44px;
	line-height: 44px;
	padding-left: 5%;
	background-color:rgba(0,0,0,0.05);
	overflow:hidden;

	border-bottom:1px solid rgba(255,255,255,0.3);
}

ul li {
	float: left;
	width: auto;
	padding-right: 10%;
	text-align: left;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom:10px;
	text-shadow:0 1px 2px rgba(0,0,0,0.2);

}

ul li a {
	color: rgba(255,255,255,0.7);
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	display: block;
	border-bottom: 3px solid transparent;
}

ul li a:hover {
	color: #fff;
}

ul li.syntropy a {
  opacity: 0.8;
  background: url('/assets/Syntropy Emblem 2.png') center center no-repeat;
  background-size: 100% 100%;
  text-indent: -9999px;

  display: block;
  width: 25px;
  height: 25px;

  border-top: 3px solid transparent;

	border-bottom: 3px solid transparent;
}

ul li a > span{
	color: rgba(255,255,255,0.5);
}


ul li.syntropy a:hover {
  opacity: 1;
 	border-bottom: 3px solid transparent;
}


@media only all and (max-width: 481px) and (max-height: 600px){
	h1 {
		bottom: 48%;
	}
	h1.notify {
		font-size: 20px;
	}
	#logo{
		display:block;
		left:5%;
		float:none;
		width: 100%;

	}

	#details{
		display:block;
		left:5%;
		float:none;
		width: 100%;
		top: 20px;
	}

	#about {
		position: absolute;
		top: 55px;
		left: 5%;
		right:5%;
		font-size: 26px;
		font-weight: 300;
	}
}

@media only all and (max-width: 850px){
#details{
	display:block;
	left:0;
	float:none;
	width: 100%;
}
}
